.close {
    margin-left: auto;
    order: 2;
}
.content{
    margin-top: 1em;
    padding: 1rem;
    min-height: 30rem;
    max-height: 40rem ;
    max-width: 70rem;
    background: #dcdcdc;
}
.listing  {
    margin-left: 1rem;
}
.subcontent{
    min-height: 25rem;
    max-width: 40rem;
    background-color: white;
    border-radius: 6px;
    overflow-y: scroll;
}
.subcontent, .listing {
    padding: 1rem;
}
.listing {
    min-width: 15rem;
    background-color: white;
    border-radius: 6px;
}
.subcontent > div {
    margin-left: auto;
    order: 2;
}
.subcontent > div > button{
    margin-right: 1rem;
}
.editemployee{
   overflow: hidden;
}