<div class="pdwrapper">
    <div>
        <h6>Employee Personal Details</h6>
    </div>
    <div class="formelem flex-row">
        <ng-content></ng-content>
        <mat-form-field appearance="outline">
            <mat-label>Type of employee</mat-label>
            <mat-select>
                <mat-option *ngFor="let typeofemp of typeofemps " [value]="typeofemp">{{typeofemp}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Reporting Manager</mat-label>
            <mat-select>
                <mat-option *ngFor="let rm of rms " [value]="rm">{{rm}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Profile</mat-label>
            <mat-select>
                <mat-option *ngFor="let profile of profiles " [value]="profile">{{profile}}</mat-option>
            </mat-select>
        </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Employee status</mat-label>
                <mat-select>
                    <mat-option *ngFor="let profile of profiles " [value]="profile">{{profile}}</mat-option>
                </mat-select> 
            </mat-form-field>
            
        
    </div>
</div>