section{
    border-radius: 4px;
    min-height: 10rem;
    margin: .5rem 0; 
}
header{
    font-weight: bolder;
}
section > form  > input,button{
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

section>form{
    align-items: center;
    justify-content: center;
}
.formwrapper{
    
}
input[type=file]{
    background: white;
    height: 3rem;
    width: 22rem;
    border: 1px solid lightgray;
}
input[type=file]::-webkit-file-upload-button{
    

    border: 1px solid lightgray ;
    outline:none;
    color: black;
    height: 3rem;
}
.fileuploader{
    height: 2rem;
    border-radius: 3px;
    color:grey;
}
.fileuploader ::placeholder{
    color:grey;
}
.button-pri{
    border:1px solid #FFAA00 ;
    width: 22rem;
    height: 3rem;
}