.settingswrapper{
    padding: 2rem 1rem;
}
.optionarea{
    height:41rem;
    background: #f1f0f0;
    max-width: 20rem;
    width: fit-content;
    
    border-radius: 6px;
    min-width: 19rem;
}
.contentarea{
    padding: 1rem;
    padding-top: 0;
    width: fit-content;
    height: fit-content;
    overflow-x: scroll;
    overflow-y: scroll;
}