<div class="imdformwrapper">
    <form>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>IMD Name</mat-label>
            <input matInput placeholder="Imd name" value="John Doe" disabled >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>IMD Code</mat-label>
            <input matInput placeholder="Imd Code" value="1000103" disabled >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>IMD Channel</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of options " [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Team</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of options " [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field><mat-form-field appearance="outline">
            <mat-label>Code Status</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of options " [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Zone</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of options " [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>AM Name</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of options " [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>AM Code</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of options " [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Pricing Channel</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of options " [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Channel/Vertical</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of options " [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>RM Name</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of options " [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>RM Code</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of options " [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Vertical head Name</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of options " [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Vertical head code</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of options " [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Location Head Name</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of options " [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Location Head code</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of options " [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Regional head Name</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of options " [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Regional head code</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of options " [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Zonal Head name</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of options " [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Zonal head code</mat-label>
            <mat-select>
                <mat-option *ngFor="let option of options " [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>From date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>To Date</mat-label>
            <input matInput [matDatepicker]="tpicker">
            <mat-datepicker-toggle matSuffix [for]="tpicker"></mat-datepicker-toggle>
            <mat-datepicker #tpicker></mat-datepicker>
        </mat-form-field>
    </form>
</div>