.employeedetailswrapper{
    padding: 1rem;
    
    overflow: hidden;
}
section{
    overflow: scroll;
    overflow-y: hidden;
}
table{
    overflow: scroll;
    border: none;
}

.optionsarea{
    padding: 0;
    align-items: center;
}
.optionsarea > ul >li{
    margin-right: 1rem;
}
mat-form-field{
    margin-left: auto;
    order: 3;
    border-radius: 6px;
    width: 19rem;
}
th{
    background: rgb(241 241 241);
    white-space: nowrap;
}
td{
    width: fit-content;
    align-items: center;
    white-space: nowrap;
    padding: .5rem;
}
td{
    display: table-cell;
    vertical-align: center;
    white-space: nowrap;
    background: white;
    width: auto;
}
table:first-child >th {
    background-color: lightcoral;
    box-shadow: -1px 7px 10px -6px rgba(39, 39, 39, 0.603);   
}
button{
    border:1px solid #FFAA00 ;
}
button:hover{
    background: #FFAA00;
}

.channel{
    display: flex;
    padding: 2em 2.5em;
    min-width: 17rem;
}
.card{
    background: #FFAA00;
    align-items: center;
    margin-left: .5rem;
    padding: .3rem .7rem;
    border: 0;
    box-shadow: -6px 3px 9px -7px rgb(0 0 0 / 75%);
}
.his{
    color: #FFAA00;
    
}