.mappingprofilewrapper{
    padding: 2rem;
}
header{
    padding: 2rem 4rem;
}
app-imdmappingform > mat-form-field > div > form{
   margin-left: 10rem !important;
   background-color: lightsalmon;

}
.buttons{
    padding: 2rem;
    margin-left: auto;
    order: 2;
}
button{
    margin-right: 1rem;
}
.form{
    padding: 0 4rem;
}
.buttons > button{
    width: 6rem;
    
    border: 1px solid #ffaa00;
}
.save{
    background: #ffaa00;
}