<div class="mappingprofilewrapper">
    <header>
        <h5>Edit Employee Details</h5>
    </header>
    <div class="form flex-col">
        <app-personaldetailform>
            <app-employeepersonaldetailformmain></app-employeepersonaldetailformmain>
        </app-personaldetailform>
        <app-buisnesslineform></app-buisnesslineform>
        <app-locationform></app-locationform>
        <div class="buttons action flex-row">
            <button mat-stroked-button class="cancel" (click)="redirect()"  >Cancel</button>
            <button mat-raised-button class="save" (click)="redirect()" >Save</button>
        </div>
    </div>
</div>
