@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
header{
    height: 10vh;
    display: flex;
    flex-direction: row;
    padding: 0 4rem;
    box-shadow: -6px 3px 22px -7px rgba(0,0,0,0.75);
    position: relative;
    align-items: center;
    z-index: 1;
}
.info-bar{
  margin-left: auto;
  order: 2;
}
.info-bar > ul{
    margin: 0;
    align-items: center;
    padding: 1rem;
}
.info-bar > ul > li {
    padding: 0 1.5rem;
} 
.personal{
    display: flex;
    flex-direction: column;
}
.menu-options{
    display: flex;
    flex-direction: row;
}
.menu-options > li {
    width: fit-content;
    cursor: default;
}
.menu-options >li > img{
    height: 2rem;
    width: 4rem;
}
.menu{
    text-align: center;
}


mat-sidenav{
    width: 300px;
    
}
mat-sidenav-container{
    height: 100vh;
    width: 100vw;
    margin-top: 0rem;
    z-index: 0;
}
mat-sidenav-content{
    background: white;
    z-index: -1;
  
}
button{
    padding: .5rem;
   outline-color: #FFAA00;
    background: #FFAA00;
    border-radius: 3px;
    border:1px solid #FFAA00;
    font-size: small;
}
.role{
    color: #777676;
    font-size: small;
}