.mappingprofilewrapper{
    padding: 2rem;
}
header{
    padding: 2rem 4rem;
}
app-imdmappingform > mat-form-field > div > form{
   margin-left: 10rem !important;
   background-color: lightsalmon;

}
.buttons{
    padding: 2rem 4rem;
    margin-left: auto;
    order: 2;
    margin-right: 4rem;
}
button{
    margin-right: 2rem;
    border: 1px solid #ffaa00;
    width: 6rem;
}
.form{
    
}
.save{
    background:#ffaa00;
}
.cancel{
    border: 1px solid #ffaa00;
}