/* You can add global styles to this file, and also import other style files */
*{
    outline-color: #ffaa00;
    font-family: muli, sans-serif;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
    outline:none
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
mat-icon{
    cursor: pointer;
}
.tablearea{
    border: 1px solid lightgrey;
}
.tableheadwrapper{
    border-bottom: 1px solid lightgrey;
}
th{
    font-weight: bold;
}
.ngx-tabs{
    
}
.action{
    margin-right:3rem;
}
.save{
    background:#f7bb44;
}
.cancel{
    border: 1px solid #f7bb44;
}
.alc{
    align-items: center;
}
th{
    background: rgb(241 241 241);
    padding: 0rem 1.5rem ;
    white-space: nowrap;
}
td{
    width: fit-content;
    align-items: center;
    white-space: nowrap;
    padding: 1.5rem;
}
td{
    display: table-cell;
    vertical-align: center;
    white-space: nowrap;
    background: white;
    text-align: center;
}
table{
    width: fill;
}
tr{
    border:1px solid lightgray;
}
mat-expansion-panel-header{
    min-height: 7rem;
    max-height: 7rem ;
}
button:disabled,
button[disabled] {
   
}

table > *{
    font-size: small;
}
table > mat-input{
    width: 10rem;
}
.channel{
    display: flex;
    padding: 2em 2.5em;
    min-width: 17rem;
}
.card{
    background: #FFAA00;
    align-items: center;
    margin-left: .5rem;
    padding: .3rem .7rem;
    border: 0;
    box-shadow: -6px 3px 9px -7px rgb(0 0 0 / 75%);
}
.his{
    color: #FFAA00;
    margin-right: .5rem;
}