<div class="flex-row editemployee">
    <div class="close">
        <mat-icon (click)='close()' cdkFocusInitial>close</mat-icon>
    </div>
    <div class="main flex-col">
        <div class="modalname">
            <h6>Edit IMD Details</h6>
        </div>
        <div class="content flex-row">
            <div class="subcontent flex-col">
                <app-imdmappingform></app-imdmappingform>
                <div>
                    <button mat-stroked-button color="primary" (click)="close()">Cancel</button>
                    <button mat-raised-button color="primary" (click)="close()">Save</button>
                </div>
            </div>
            <div class='listing'>
                <h6>Editing {{employees.length}} employees</h6>
                <app-namecard *ngFor="let employee of employees;" [name]="employee"></app-namecard>
            </div>
        </div>
        
    </div>

