<div class="  flex-row">
    
    <div class=" cont flex-col">
        <div>
            <span><h5>Add new Option</h5></span>
        </div>
        <div class=" flex-col">
            <mat-form-field appearance="outline">
                <mat-label>Enter Option Name</mat-label>
                <input matInput placeholder="Enter a new option" value="">
            </mat-form-field>
            <button mat-raised-button class="save" (click)="close()">Save</button>
        </div>
    </div>
    <div>
        <mat-icon (click)="close()">close</mat-icon>
    </div>
</div>