<mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput #input maxlength="10" placeholder="Employee Name" value="John" disabled>
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Ecode</mat-label>
    <input matInput #input maxlength="10" placeholder="Employee Code" value="143233" disabled>
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Designation</mat-label>
    <input matInput #input maxlength="10" placeholder="Designation" value="Team Lead" disabled>
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>From date</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="Select a Start date" value="123" disabled>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>To Date</mat-label>
    <input matInput #input maxlength="10" placeholder="Select a end date" disabled>
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput #input maxlength="10" placeholder="Email" value="john@godigit.com" disabled>
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Phone</mat-label>
    <input matInput #input maxlength="10" placeholder="phone" value="9785643423" disabled>
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>RM Code</mat-label>
    <input matInput #input maxlength="10" placeholder="Rm code" value="12354" disabled>
</mat-form-field>